@model IEnumerable<eVoting.UserLoginModel.UserVoterIDDetail>


@{
    ViewBag.Title = "GetAreaData";
    Layout = "~/Views/Shared/_MainAdminDashboard.cshtml";
}


<h2>All records</h2>

<br />

<div class="h2"> Total : @ViewBag.count </div>
<br />
<table class="table panel">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FathersName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.District)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FathersName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
           
        </tr>
    }

</table>
<br />
<br />
<div>
    <b class="links glyphicon glyphicon-backward">
        @Html.ActionLink("Back", "GetAreaData", "MainAdmin", null, new { style = "color:red" })
    </b>
    <b class="links glyphicon glyphicon-backward">
        @Html.ActionLink("Dashboard", "Index", "MainAdmin", null, new { style = "color:red" })        
    </b> 
    
</div>
